.container {
  width: auto;
  padding-bottom: 20px;
}

.section {
  color: var(--space-cadet);
  padding-left: 40px;
  padding-right: 40px;
  white-space: pre-line;
}

h6 {
  margin-bottom: 0;
}

.btnContainer {
  margin: 20px 20px 0px 20px;
}

.home_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  margin: 20px;
}

.text_container {
  text-align: left;
  width: 70%;
}
.text_container h5 {
  margin-bottom: 14px;
  margin-top: 0px;
}

.text_container p {
  margin-bottom: 0px;
  margin-top: 14px;
}

.button_container {
  margin-left: 10px;
  width: 40%;
}

@media only screen and (max-width: 480px) {
  .home_container {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin: 10px;
  }
  .text_container p {
    margin-bottom: 20px;
  }
  .text_container {
    width: 100%;
  }
  .button_container {
    margin-left: 0px;
    width: 100%;
    margin-top: 20px;
  }
  .section {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -15px;
  }
}
