.main_container{
    width: 100%;
}

.input_text{
    padding: 40px 100px 40px 100px;
}
.input_text h5{
    margin-bottom: 20px;
    margin-top:20px;
}

.buttons_container{
    padding-top: 56px;
    padding-bottom: 40px;
}

.cancel_button{
    width:25%;
    margin:25px;
}

.submit_button{
    width: 25%;
    margin:25px;
}

@media (max-width:480px){
    .main_container{
        width: 100%;
    }
    .header_container{
        width: 100%;
    }

    .input_text{
        padding: 196px 40px 0px 40px;
    }
    .input_text h5{
        margin-bottom: 20px;
        margin-top:20px;
    }

    .buttons_container{
        padding-top:28px;
        display:block;
    }

    .cancel_button{
        width:100%;
        padding-bottom: 14px;
    }

    .submit_button{
        width: 100%;
        padding-top: 14px;
    }
}