:root {
    --space-cadet: #11224D;
    --maize-crayola: #F2C864;
    --sandy-brown: #FFA262;
    --pistachio: #A6CC80;
    --french-blue-sky: #8AB6E9;
    --rhythm: #687086;
    --cultured: #F6F4F3;
    --glaucous: #5B84C4;
    --oxford-blue: #0A132C;
    --light-purple: #D3B3FC;
    --gray: #A7AEBE;
}